@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 3, 7, 18; /* Deep Space Black */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden; /* Prevents horizontal scroll from background blobs */
}

/* Remove default blue outlines on inputs */
input:focus, button:focus {
  outline: none;
}

/* Custom Scrollbar for Chrome/Safari */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 4px;
}